---
import Layout from '~/layouts/PageLayout.astro';

import Image from '~/components/common/Image.astro';
import Hero3 from '~/components/widgets/Hero3.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Button from '~/components/ui/Button.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQsAccordion.astro';
import InvestmentTypes from '~/components/widgets/InvestmentTypes.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Testimonials from '~/components/widgets/ImageTestimonials.astro';
import MstockImageGif from '~/assets/images/home/mstock.gif';
import MstockImage from '~/assets/images/home/mstock.png';

import Playstore from '~/assets/images/download-android.png';
import Appstore from '~/assets/images/download-ios.png';
import Partner1 from '~/assets/images/logos/partner-logo-saham-insight.png';
import { linkToWhatsapp, Constants, LINKS } from '~/utils/cta';

import Testimonial_01 from '~/assets/images/testimonoals/testimonial-1.png';
import Testimonial_02 from '~/assets/images/testimonoals/testimonial-2.png';
import Testimonial_03 from '~/assets/images/testimonoals/testimonial-3.png';
import Testimonial_04 from '~/assets/images/testimonoals/testimonial-4.png';
import Testimonial_05 from '~/assets/images/testimonoals/testimonial-5.png';
import Testimonial_06 from '~/assets/images/testimonoals/testimonial-6.png';

const { TEMPLATE_WHATSAPP_MESSAGE: {
  CLAIM_PROMO,
}} = Constants;

const gifImage = {
  src: MstockImageGif,
  alt: 'Mstock Image',
}

const metadata = {
  title: 'Mulai Investasi Saham — Percayakan Investasimu, pada Mirae Asset Sekuritas!',
  ignoreTitleTemplate: true,
};


const targetDate = new Date();
targetDate.setHours(24, 0, 0, 0); // Set target date to midnight
---

<script>
  function updateCountdown() {
    const targetDate = new Date();
    targetDate.setHours(24, 0, 0, 0); // Set target date to midnight
    const now = new Date();
    const timeDiff = targetDate - now;

    if (timeDiff <= 0) {
      document.getElementById('hours').textContent = '0';
      document.getElementById('minutes').textContent = '0';
      document.getElementById('seconds').textContent = '0';
      return;
    }

    const seconds = Math.floor((timeDiff / 1000) % 60);
    const minutes = Math.floor((timeDiff / 1000 / 60) % 60);
    const hours = Math.floor((timeDiff / (1000 * 60 * 60)) % 24);

    document.getElementById('hours').textContent = String(hours);
    document.getElementById('minutes').textContent = String(minutes);
    document.getElementById('seconds').textContent = String(seconds);
  }

  setInterval(updateCountdown, 1000);
  updateCountdown(); // Initial call
</script>

<Layout metadata={metadata}>
  <!-- Hero3 Widget ******************* -->

  <Hero3>
    <Fragment slot="title">
      Percayakan Investasimu, pada<br class="lg:hidden" />
      <span class="text-primary highlight"> Mirae Asset Sekuritas</span>!
    </Fragment>

    <Fragment slot="subtitle">
      <span class="inline">
        <span class="font-semibold dark:text-white">Buka akun sekarang</span>! <br class="sm:hidden" />Dapatkan <span class="font-semibold text-accent dark:text-white">cashback</span>, Grup VIP Nasabah dan hadiah spesial.</span
      >
    </Fragment>
    
    <Fragment slot="image">
      <Image
        class="mx-auto rounded-md w-full"
        widths={[400, 768, 1024, 2040]}
        sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
        loading="eager"
        width={773}
        height={576}
        src="~/assets/images/home/main.png"
        alt="Mirae Asset Sekuritas Image"
      />
      <Image
        class="absolute -bottom-4 right-0"
        widths={[400, 768, 1024, 2040]}
        sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
        loading="eager"
        width={300}
        src="~/assets/images/dashboard-grant-diagram.png"
        alt="Diagram Image"
      />
    </Fragment>
    
    <Fragment slot="actions">
      <div class="max-w-xs sm:max-w-xl m-auto flex flex-nowrap flex-col md:flex-row sm:justify-center gap-4">
          <Button 
            class="w-full sm:mb-0"
            text="Claim Promo Sekarang"
            variant="primary"
            href={linkToWhatsapp(CLAIM_PROMO)}
            icon="tabler:gift-filled"
            target="_blank"
          />
          <Button
            variant="secondary"
            target="_blank"
          >
              <span id="hours">0</span>:<span id="minutes">0</span>:<span id="seconds">0</span>
          </Button>
        </div>
    </Fragment>
  </Hero3>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="why"
    tagline="TEMUKAN JAWABAN UNTUK INVESTASI ANDA"
    title="Mengapa harus bergabung dengan Mirae Asset?"
    subtitle="Anda Akan Menemukan Banyak Alasan Untuk Bergabung Dengan Mirae Asset"
    columns={2}
    items={[
      {
        title: 'Pemimpin dan Terdepan',
        description:
          'Frekuensi transaksi tertinggi di Indonesia dari kategori rumah pialang.',
        icon: 'tabler:number-1-small',
      },
      {
        title: 'Modal Kerja Bersih Disesuaikan (MKBD) Terbesar',
        description:
          'Dengan nilai kurang lebih sebesar 1,4 Trilun',
        icon: 'tabler:number-2-small',
      },
      {
        title: 'Kemudahan Akses',
        description:
          'Memiliki cabang terbanyak di Indonesia',
        icon: 'tabler:number-3-small',
      },
      {
        title: 'Terpercaya dan dapat diandalkan',
        description:
          'Jumlah akun investor terbanyak di Indonesia',
        icon: 'tabler:number-4-small',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="Akses mudah dalam genggaman"
    title="#SaatnyaJadiMapan dengan M-STOCK dari Mirae Asset"
    items={[
      {
        title: 'Cocok untuk semua kalangan, dari newbie hingga pro',
        description:
          'Aplikasi dirancang untuk mengakomodasi berbagai tingkat pemahaman dan pengalaman investasi. Baik Anda seorang pemula yang baru ingin memulai, atau investor berpengalaman yang mencari strategi lanjutan, semua akan menemukan fitur dan informasi yang relevan.',
      },
      {
        title: 'Akses informasi lengkap & eksklusif dari expert, baik dalam & luar negeri',
        description:
          'Tim analis berpengalaman menyediakan analisis pasar yang mendalam dan up-to-date, sehingga pengguna dapat membuat keputusan investasi yang lebih informatif.',
      },
      {
        title: 'Kecepatan transaksi yang konsisten di seluruh Indonesia',
        description:
          'Nikmati pengalaman berinvestasi yang lancar, cepat dan aman di mana pun Anda berada.',
      },
    ]}
    gifImage={MstockImageGif}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Jutaan Peluang Investasi dalam Satu Aplikasi</h3>
      Manfaatkan jutaan peluang investasi untuk mencapai tujuan finansial Anda.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->
  
  <Content
    id="download"
    isAfterContent
    items={[
      {
        title: 'Trailing Stop',
        description: `Minimalkan risiko & maksimalkan cuan secara otomatis. Cuan aman tanpa drama!`,
        icon: 'flowbite:chart-mixed-dollar-outline',
        classes: {
          icon: 'flex h-16 w-16 items-center justify-center rounded-xl bg-primary text-gray-50 p-1',
        },
      },
      {
        title: 'Holistic Market Insight',
        description:
          'Dapatkan berita/info seputar pasar dari praktisi hingga yang berlisensi, dari dalam hingga luar negri.',
        icon: 'fluent-mdl2:insights',
        classes: {
          icon: 'flex h-16 w-16 items-center justify-center rounded-xl bg-primary text-gray-50 p-1',
        },
      },
      {
        title: 'One-Click Portofolio',
        description:
          "Pantau seluruh portofolio kamu di Ekosistem Mirae Asset hanya dengan satu klik.",
        icon: 'tabler:hand-click',
        classes: {
          icon: 'flex h-16 w-16 items-center justify-center rounded-xl bg-primary text-gray-50 p-1',
        },
      },
      {
        title: 'Smart Notification',
        description:
          'No refresh-refresh club! Status transaksi terupdate secara real-time di home page.',
        icon: 'tabler:notification',
        classes: {
          icon: 'flex h-16 w-16 items-center justify-center rounded-xl bg-primary text-gray-50 p-1',
        },
      },
    ]}
    image={{
      src: MstockImage,
      alt: 'MSTOCK Image',
    }}
    imageStyle="mx-auto w-full rounded-lg"
  >
    <Fragment slot="content">Jadilah Semakin Mantap Pilih M-STOCK</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>
  
  <div class="flex justify-center items-center dark:bg-transparent py-12 px-6 bg-slate-50">
    <div class="grid mx-auto grid-cols-1 lg:grid-cols-3 gap-x-8 gap-y-8 items-center">
      <div id="download-buttons" class="flex flex-col items-center">
        <!--<span class="text-muted">Download Aplikasi M-STOCK</span>-->
        <div id="market-places" class="relative">
          <a href={LINKS.PLAYSTORE_MSTOCK} target="_blank" class="h-14 flex items-center justify-center">
            <Image
              src={Playstore}
              alt="Play Store Android"
              loading="eager"
              width={160}
              height={56}
              class="mx-auto"
            />
          </a>
          <a href={LINKS.APPSTORE_MSTOCK} target="_blank" class="h-14 flex items-center justify-center">
            <Image
              src={Appstore}
              alt="App Store iOS"
              loading="eager"
              width={160}
              class="mx-auto bg"
            />
          </a>
        </div>
      </div>
      <Button variant="primary" text="Video Tutorial" icon="tabler:video" href={LINKS.YOUTUBE} target="_blank" />
      <Button variant="secondary" text="User Guide" icon="fluent-mdl2:learning-tools" href={LINKS.USER_GUIDE_MSTOCK} target="_blank" />
    </div>
  </div>

  <!-- HighlightedPosts Widget ******* -->

  <div class="hidden md:block">
    <BlogLatestPosts
      id="latestpost"
      title="Ingin tahu lebih banyak? Baca artikel terbaru di Blog kami!"
      information={`Blog ini bertujuan untuk membagikan pengetahuan dan wawasan tentang dunia investasi. Setiap artikel akan menjadi langkah penting bagi Anda untuk memahami berbagai instrumen investasi, strategi, dan tren pasar terkini. Kami akan membahas topik mulai dari investasi dasar hingga strategi lanjutan, dengan tujuan membantu Anda menjadi investor yang cerdas dan mandiri.`}
    />
  </div>

  <!-- FAQs Widget ******************* -->
  
  <FAQs
    id="faqs"
    title="Frequently asked questions"
    faqs={{
      subTitle: "Berikut beberapa pertanyaan yang sering ditanyakan seputar Mirae Asset Sekuritas.",
      faqs: [
        {
          question: 'Siapakah Mirae Asset Sekuritas Indonesia?',
          answer:
            "PT Mirae Asset Sekuritas Indonesia adalah perusahaan sekuritas yang menyediakan berbagai layanan investasi, termasuk perantara perdagangan efek, underwriting, reksadana, obligasi, ETF, dan priority wealth management. Didukung oleh Mirae Asset, perusahaan investasi ternama asal Korea Selatan, kami memiliki 27 kantor edukasi yang tersebar di berbagai kota besar di Indonesia.",
        },
        {
          question: 'Berapa besar MKBD dari Mirae Asset Sekuritas?',
          answer:
            'Memilih sekuritas dengan Modal Kerja Bersih Disesuaikan (MKBD) yang besar sangat penting bagi investor untuk memastikan investasi mereka aman dan mengurangi risiko kebangkrutan sekuritas. MKBD Mirae Asset Sekuritas per juli 2024 mencapai Rp 1,4 Triliun, menjadikannya yang terbesar di Indonesia.',
        },
        {
          question: 'Apakah Mirae Asset Sekuritas legal dan diawasi otoritas?',
          answer:
            "Mirae Asset Sekuritas secara aktif terdaftar sebagai anggota bursa dan diawasi OJK.",
        },
        {
          question: "Apa saja produk dan layanan Mirae Asset Sekuritas?",
          answer:
            "Transaksi saham, obligasi untuk ritel dan korporasi, reksa dana, Transaksi saham secara margin (pinjam meminjam) dan Corporate Finance (merger/akuisisi, pencatatan saham dan obligasi di Bursa Efek Indonesia).",
        },
        {
          question: 'Jenis akun apa saja yang dimiliki Mirae Asset Sekuritas?',
          answer:
            "Ada 4 jenis account yaitu Akun Regular, Akun Margin, Akun Day Trade, dan Akun Syariah.",
        },
        {
          question: 'Berapa Fee transaksi di Mirae Asset Sekuritas?',
          answer:
            "Fee beli 0,15% jual 0,25% all in, no biaya admin no biaya bulanan no minimum transaksi.",
        },
        {
          question: 'Bagaimana nasabah bertransaksi saham?',
          answer:
            "Dengan HOTS dekstop dan M-STOCK Mobile nasabah dapat bertransaksi saham kapanpun dan dimanapun selama terhubung dengan internet. HOTS dekstop dan M-STOCK Mobile dilengkapi dengan fitur yang memudahkan Anda bertransaksi saham yaitu Automatic Order, Trailing Stop, Multi Chart, dan lainnya.",
        },
        {
          question: 'Apa keuntungan buka akun Mirae Asset Sekuritas lewat Pak Antoni?',
          answer: 'Free join group VIP Nasabah Mirae Asset Sekuritas, Updates informasi investasi berkualitas tinggi, Konsultasi portfolio, rekomendasi saham Investing dan trading, dibimbing dari nol sampai pro.',
        },
      ]
    }}
  />
  
  <!-- Type of Investment ******************* -->
  
  <InvestmentTypes
    title="Pilih Aset Sesuai Tujuan Finansial"
    subtitle="Aset investasi dari risiko paling rendah ke tinggi"
    items={[
      {
        icon: 'tabler:trending-up',
        title: 'Saham',
        description:
          "600+ saham Indonesia untuk tingkatkan peluang keuntungan",
      },
      {
        icon: 'fluent-mdl2:money',
        title: 'Reksa dana',
        description:
          "Produk reksa dana terbaik dengan harga mulai Rp10.000",
      },
      {
        icon: 'tabler:certificate',
        title: 'Obligasi',
        description:
          "560+ obligasi Republik Indonesia paling lengkap",
      },
      {
        icon: 'tabler:chart-bar',
        title: 'Exchange Traded Fund (ETF)',
        description:
          "Peluang transaksi banyak saham, tingkatkan peluang cuan",
      },
      {
        icon: 'flowbite:clipboard-list-outline',
        title: 'Structure Warrant',
        description:
          "Raih potensi keuntungan tanpa batas",
      },
    ]}
  />

  <Features2
    title="Our Partners"
    subtitle="Kami telah bekerja sama dengan berbagai partner-partner berikut:"
    tagline="Colaboration with"
    columns={1}
    classes={{
      containerItem: 'grid-cols-1',
    }}
    items={[
      {
        image: {
          src: Partner1,
          alt: 'Saham Insight Logo',
          class: 'bg-white rounded',
          width: 200
        },
        classes: {
          panel: 'text-center items-center',
        },
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- Stats Widget ****************** -->

  <!--<Stats-->
  <!--  stats={[-->
  <!--    { title: 'Saham', amount: '800+' },-->
  <!--    { title: 'Transaction Value', amount: '~1,4T' },-->
  <!--    { title: 'Market Share', amount: '8,15%' },-->
  <!--    { title: 'Investment Specialist', amount: '500+' },-->
  <!--  ]}-->
  <!--/>-->

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Buka Akun Sekarang',
        href: linkToWhatsapp('CLAIM_PROMO'),
        target: '_blank',
        icon: 'tabler:click',
      },
    ]}
    classes={{
      card: 'border border-gray-200 dark:border-slate-700',
    }}
  >
    <Fragment slot="title">
      <span class="sm:whitespace-nowrap">Mulai Investasi Saham</span>
    </Fragment>

    <Fragment slot="subtitle">
      Masa depan yang cerah dimulai dari langkah kecil. Investasikan uang Anda sekarang untuk masa depan yang lebih sejahtera. <br class="hidden md:inline" />Tunggu apa lagi?
    </Fragment>
  </CallToAction>


  <!-- Testimonials Widget *********** -->

  <Testimonials
    title="Testimoni klien"
    subtitle="Temukan apa yang klien katakan tentang pengalaman mereka menjadi nasabah Pak Antoni."
    testimonials={[
      {
        image: {
          src: Testimonial_01,
          alt: 'Testimonial 01',
        },
      },
      {
        image: {
          src: Testimonial_02,
          alt: 'Testimonial 02',
        },
      },
      {
        image: {
          src: Testimonial_03,
          alt: 'Testimonial 03',
        },
      },
      {
        image: {
          src: Testimonial_04,
          alt: 'Testimonial 04',
        },
      },
      {
        image: {
          src: Testimonial_05,
          alt: 'Testimonial 05',
        },
      },
      {
        image: {
          src: Testimonial_06,
          alt: 'Testimonial 06',
        },
      },
    ]}
    callToAction={{
      text: 'Join Group gratis',
      icon: 'tabler:brand-whatsapp',
      variant: 'primary',
      href: LINKS.WHATSAPP_GROUP,
      target: '_blank',
    }}
  />
</Layout>
